.productsWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Abel;

    h1 {
        text-align: center;
        padding: 20px;
        font-family: Gruppo;
        font-size: 50px;
    }

    .signOut {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        margin-right: 65px;
        transition: 0.5s;
         button {
             padding: 10px;
             border: none;
             color:  #1f1f1f;
             background-color: whitesmoke;
             border-radius: 2px;
             &:hover {
                transition: 0.5s;
                box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
            }
         }
    }

    .individualProduct {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}