
.google {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Gruppo;
    background-image: url("../../static/elegance.png");
    background-size: fill;

    .loginInstructionsWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 50%;
            width: 50%;

            h1 {
                font-size: 25px;
                margin-bottom: 10px;  
            }
    
            h2 {
                font-size: 15px;
                margin-bottom: 20px;
                background-color: white;
            }

            button {
                padding: 10px;
                border: none;
                background-color: #f33f3f;
                color: white;
                border-radius: 2px;
                &:hover {
                transition: 0.5s;
                box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
                }
            }
    }
}

@media only screen and (max-width: 786px) {
    .google {
        background-size: cover;

        h1 {
            background-color: white;
            opacity: 0.6;
        }
    }
}

