.searchBar {
    display: flex;
    // flex-direction: row;
    justify-content: flex-end;
    // max-width: 400px;
    // border-radius: 2px;
    padding: 10px;
    text-align: right;
    margin: 20px;
    
}