.searchBar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    text-align: left;
    font-size: 25px;
    font-family: Abel;
    padding-bottom: 30px;
    margin: 20px;
    border:0;
    outline:0;
    border-bottom: 0.5px solid  #1f1f1f;
    
    &:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
        border-bottom: none;
    }  
}

@media only screen and (max-width: 525px) {
    .searchBar {
        font-size: 20px;
    }
}